@font-face {
    font-family: OpenSans;
    src: url(/font/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url(/font/OpenSans-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: OpenSans;
    src: url(/font/OpenSans-Light.ttf);
    font-weight: 100;
}